.language-switcher {
  display: inline-block;
  position: relative;
  margin-top: 10px;
}

.lang-select-wrapper {
  display: flex;
  align-items: center;
  gap: 6px;
  background: transparent;
  /* border: 1px solid #ccc; */
  /* border-radius: 8px; */
  padding: 4px 10px;
  cursor: pointer;
  transition: 0.2s;
}

.lang-select-wrapper:hover {
  background: rgba(255, 255, 255, 0.95);
}

.lang-select-wrapper img {
  width: 20px;
  height: 15px;
  object-fit: cover;
  border-radius: 2px;
}

.lang-select-wrapper select {
  border: none;
  background: transparent;
  font-size: 14px;
  outline: none;
  appearance: none;
  cursor: pointer;
  padding-right: 18px;
}

.lang-select-wrapper::after {
  content: "▼";
  font-size: 11px;
  color: #333;
  position: absolute;
  right: 8px;
  pointer-events: none;
}
